body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: peachpuff;
}

h2 {
    font-size: 36px;
    font-family: sans-serif;
    color: crimson;
}

h4 {
    font-size: 24px;
    font-family: sans-serif;
    color:crimson;
    padding-left: 200px;
}

.links {
    padding-right:200px;
}

a {
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.subheader {
    display: flex;
    align-items: flex-ends;
    background-color: peachpuff;
    padding: 50px 200px 100px 200px;
}

.subheader-left {
    display: flex;
    flex-direction: column;
    padding-right: 100px;
}

.subheader-right {
    display: flex;
    flex-shrink: 1;
    align-items: flex-end;
}

.newsletter {
    border-color: crimson;
    align-self: flex-start;
    background-color: crimson;
    font-family: sans-serif;
    color: white;
    padding: 5px;
    border-radius: 4px;
    margin-top: 15px;
}

h3 {
    margin-top: 50px;
    font-size: 24px;
    font-family: sans-serif;
    text-align: center;
}

.containerone {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}

.items {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.itemtext {
    font-size: 16px;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
}

.itemphotos {
    border-radius: 80px;
    margin: 30px;
}

.containertwo {
    background-color: moccasin;

    margin-top: 50px;
    display: flex;
    flex-direction: column;
    padding: 100px 350px;
}

.quote {
    font-size: 24px;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 100;
}

.author {
    align-self: flex-end;
    font-size: 24px;
    font-family: sans-serif;
    color:crimson;
    padding-right: 30px;
}

.containerthree {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: crimson;
    border-radius: 20px;
    margin: 50px 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 30px;
}

.ctleft {
    display: flex;
    flex-direction: column;
}

.ctright {
    align-self: flex-end;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: peachpuff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.newslettertwo {
    border-color: peachpuff;
    align-self: flex-start;
    background-color: peachpuff;
    font-family: sans-serif;
    color: crimson;
    padding: 5px;
    border-radius: 4px;
    margin-top: 15px;
}